<h1>Contacts List</h1>

<% contacts.forEach(function(contact){ %>
    <li><%= contact %></li>
<% }); %>

<form action="/addcontact" method="POST">
    <input type="text" name = "newcontact" placeholder="name">
    <button>Add Contact</button>
</form>